[location.home]
latitude = 52.508963
longitude = 13.435965


[location.work]
name = "Work place" # Optional, defaults to the ID of the location, in this case "work"
latitude = 53.508963
longitude = 14.435965


# [provider.open_weather]
#
# API key for openweathermap.org
# api_key = "abcdefg"
#
# Refresh interval. Defaults to 10 minutes
# refresh_interval = "10min"
#
# Configure how often weather information should be refreshed from this provider . Default is 10 minutes
# Format: 15days, 2min, 10s. Can also be combined: 1hour 30min
# refresh_interval = "10min"


# [provider.meteoblue]
#
# API key for meteoblue.com
# api_key = "abcdefg"
#
# Configure how often weather information should be refreshed from this provider . Default is 10 minutes
# Format: 15days, 2min, 10s. Can also be combined: 1hour 30min
# refresh_interval = "10min"


# [provider.tomorrow]
#
# API key for tomorrow.io
# api_key = "abcdefg"
#
# Configure how often weather information should be refreshed from this provider . Default is 10 minutes
# Format: 15days, 2min, 10s. Can also be combined: 1hour 30min
# refresh_interval = "10min"


# [provider.deutscher_wetterdienst]
#
# A provider using Deutscher Wetterdienst Open Data, the state run weather service in Germany
#
# Configure how often weather information should be refreshed from this provider . Default is 10 minutes
# Format: 15days, 2min, 10s. Can also be combined: 1hour 30min
# refresh_interval = "10min"


# [provider.open_meteo]
#
# A provider using open-meteo.com
#
# API key for open-meteo.com (optional)
# api_key = "customer-1234567890"
#
# Configure how often weather information should be refreshed from this provider . Default is 15 minutes
# Format: 15days, 2min, 10s. Can also be combined: 1hour 30min
# refresh_interval = "10min"


# [provider.nogoodnik]
#
# A provider that always fails (for robustness testing)


# [http]
#
# Configure port to listen on. Default is 36333
# port = 36333
#
# For more HTTP settings check https://rocket.rs/v0.5/guide/configuration/
#
# Configure the address to listen to, default is 127.0.0.1
# address = "127.0.0.1"


# [http.tls]
#
# Path to certificate file
# certs = "/path/to/certificate.pem"
#
# Path to key file
# key = "/path/toprivate_key.pem"
#
# See https://rocket.rs/v0.5/guide/configuration/#tls for more


# [auth]
#
# Basic auth credentials. Password hash is bcrypt
# joanne.doe = "$2a$04$58bTU55Vh8w9N5NX/DCCT.FY7ugMX06E1fFK.vtVVxOUdJYrAUlna"
